[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
librosa = "*"
scikit-learn = "*"
joblib = "*"
numpy = "*"
pysoundfile = "*"
torch = "==1.10.0"
torchvision==0.11.1
tensorflow==2.7.0

[dev-packages]

[requires]
python_version = "3.8"
